<div
  id="contact"
  class="section"
  style="font-family: 'Poppins', sans-serif; color: #333"
>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="message-box">
          <h2 style="font-size: 36px; font-weight: 700; color: #007bff">
            Contact Me
          </h2>

          <p style="font-size: 16px; line-height: 1.8">
            <strong>Email:</strong> jaspritnaveen@gmail.com
          </p>
          <p style="font-size: 16px; line-height: 1.8">
            <strong>Phone:</strong> 6383146128
          </p>
          <p style="font-size: 16px; line-height: 1.8">
            <strong>LinkedIn:</strong>
            <a
              href="https://www.linkedin.com/in/jaspritnaveen/"
              target="_blank"
              class="link"
              >jaspritnaveen</a
            >
          </p>
          <p style="font-size: 16px; line-height: 1.8">
            <strong>GitHub:</strong>
            <a
              href="https://github.com/jaspritnaveen"
              target="_blank"
              class="link"
              >jaspritnaveen</a
            >
          </p>

          <a
            href="assets/resume/Naveenkumar_Resume.pdf"
            download
            class="sim-btn"
          >
            <span>Download CV</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
