<section class="about">
  <h2>About Me</h2>
  <h3>Education</h3>
  <p>
    B.E. Computer Science and Engineering (2021–2025) <br />CGPA: 7.88 up to 6th
    semester
  </p>

  <h3>Skills</h3>
  <ul>
    <li>Web Development (MEAN Stack)</li>
    <li>Java, C, SQL</li>
    <li>Selenium WebDriver, TestNG, Manual Testing</li>
    <li>Microsoft Office, GitHub, VS Code</li>
  </ul>

  <h3>Certifications</h3>
  <ul>
    <li>Selenium WebDriver with Java & TestNG (Udemy)</li>
    <li>Infosys Springboard - Angular</li>
  </ul>
</section>
