<section class="hero-container relative">
  <div class="intro-content">
    <h5 class="intro-sub">HEY! I AM</h5>
    <h1 class="intro-name" id="name">NAVEENKUMAR R</h1>
    <h2 class="intro-role">
      I'm a
      <span
        class="txt-rotate"
        data-period="2000"
        data-rotate='["QA Engineer.", "Automation Tester.", "Full Stack Developer.", "Learner."]'
      >
        <span class="wrap">QA Engineer.</span>
      </span>
    </h2>
  </div>
  <div
    class="down-arrow w-20 h-20 bg-slate-800 flex justify-center items-center absolute left-65px bottom-40"
  >
    <span class="material-symbols-outlined text-4xl arrow w-6 h-6">
      keyboard_double_arrow_down
    </span>
  </div>
</section>
