<section class="hero-wrap js-fullheight" style="height: 523px">
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text js-fullheight justify-content-center align-items-center"
      style="height: 523px"
    >
      <div
        class="col-lg-8 col-md-6 ftco-animate d-flex align-items-center fadeInUp ftco-animated"
      >
        <div class="text text-center">
          <span class="subheading">Hey! I am</span>
          <h1>Naveenkumar R</h1>
          <h2>
            I'm a
            <span
              class="txt-rotate"
              data-period="2000"
              data-rotate='["QA Engineer.", "Automation Tester.", "Full Stack Developer.", "Learner."]'
              ><span class="wrap">QA Engineer.</span></span
            >
          </h2>
        </div>
      </div>
    </div>
  </div>

  <div class="mouse">
    <a href="#about" class="mouse-icon">
      <div class="mouse-wheel">
        <span class="ion-ios-arrow-round-down"></span>
      </div>
    </a>
  </div>
</section>
