/* Split background */
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #eaefff 50%, #ffffff 50%);
  text-align: center;
  position: relative;
}

/* Intro text */
.intro-content {
  z-index: 1;
}

.intro-sub {
  color: #2c63ff;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 2rem;
  margin-bottom: 10px;
}

.intro-name {
  font-size: 3.5rem;
  font-weight: 800;
  margin: 0;
  color: #000;
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.intro-role {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 20px;
  color: #000;
}

/* Rotating text styling */
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
  color: #2c63ff;
  font-weight: bold;
  animation: blink-caret 1s step-end infinite;
}

/* Cursor animation */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #666;
  }
}
