<section class="section projects">
  <div class="container">
    <div class="message-box">
      <h2>My Projects</h2>
      <p>Here are some of the featured projects I’ve worked on recently:</p>
    </div>

    <div class="row">
      <div class="col-md-6 project">
        <h3>OpenCart Web Application</h3>
        <p>
          Automated testing using Selenium Java. Ensured functionality and
          reliability.
        </p>
        <a
          href="https://github.com/jaspritnaveen/OpenCartWebApplication"
          target="_blank"
          class="sim-btn"
        >
          More Details
        </a>
      </div>

      <div class="col-md-6 project">
        <h3>Flight Booking Website</h3>
        <p>
          Built using MEAN Stack. Enabled booking of domestic and international
          flights.
        </p>
        <a
          href="https://github.com/jaspritnaveen/FlightBookingWebsite"
          target="_blank"
          class="sim-btn"
        >
          More Details
        </a>
      </div>

      <div class="col-md-6 project">
        <h3>OrangeHRM Demo Testing</h3>
        <p>
          Test automation on login and MyInfo module using Selenium WebDriver.
        </p>
        <a
          href="https://github.com/jaspritnaveen/OpenCartWebApplication"
          target="_blank"
          class="sim-btn"
        >
          More Details
        </a>
      </div>

      <div class="col-md-6 project">
        <h3>My Portfolio Website</h3>
        <p>
          A personal portfolio website built with Angular showcasing my
          projects, skills, resume, and contact information.
        </p>
        <a
          href="https://github.com/jaspritnaveen/Portfolio"
          target="_blank"
          class="sim-btn"
        >
          More Details
        </a>
      </div>

      <div class="col-md-6 project">
        <h3>Accessible Mobility Assistant (IoT)</h3>
        <p>
          Smart obstacle detection system using LIDAR and NodeMCU (ESP8266) for
          visually impaired individuals. Real-time alerts, LCD feedback, and
          remote IoT monitoring.
        </p>
        <a
          href="https://github.com/jaspritnaveen/AccessibleMobilityAssistant"
          target="_blank"
          class="sim-btn"
        >
          More Details
        </a>
      </div>
    </div>
  </div>
</section>
