<section class="projects">
  <h2>Projects</h2>

  <div class="project">
    <h3>OpenCart Web Application</h3>
    <p>
      Automated testing using Selenium Java. Ensured functionality and
      reliability.
    </p>
    <a
      href="https://github.com/jaspritnaveen/OpenCartWebApplication"
      target="_blank"
      >View Project</a
    >
  </div>

  <div class="project">
    <h3>Flight Booking Website</h3>
    <p>
      Built using MEAN Stack. Enabled booking of domestic and international
      flights.
    </p>
    <a
      href="https://github.com/jaspritnaveen/FlightBookingWebsite"
      target="_blank"
      >View Project</a
    >
  </div>

  <div class="project">
    <h3>OrangeHRM Demo Testing</h3>
    <p>Test automation on login and MyInfo module using Selenium WebDriver.</p>
  </div>
</section>
